<ion-header>
  <ion-toolbar>
    <ion-title>
      <img
        ngSrc="./assets/CarRentalAgencyLogo.png"
        priority
        class="logo"
        alt="Car Rental Agency Logo"
        width="150"
        height="200"
      />    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToLogin()">
        <ion-icon name="person-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      @if (isLoggedIn) {
        <ion-button (click)="onCreationCar()">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
        <ion-button (click)="onLogout()">
          <ion-icon name="power-outline"></ion-icon>
        </ion-button>
      }
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="car-container">
    <ion-card *ngFor="let car of cars" (click)="seeDetailsCar(car)">
      <ion-card-header>
        <ion-card-title>{{ car.brand }} - {{ car.model }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <img *ngIf="car?.photos?.front" [src]="car?.photos?.front" alt="Photo avant de la voiture" />
        <p><strong>License Plate:</strong> {{ car.licensePlate }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
