#icon-add {
  font-size: 2rem;
}

ion-icon {
  color: black;
}

.logo {
  width: 46px;
  height: auto;
  margin: 20px auto;
  display: block;
}

ion-toolbar {
  --background: #f4f5f8;
  padding: 15px !important;
}
