<ion-content [fullscreen]="true" class="login">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: calc(100vh - 75px);">
      <ion-col size="12" size-md="6" size-lg="4">
        <div class="form-container">
          <img
            ngSrc="./assets/CarRentalAgencyLogo.png"
            priority
            class="logo"
            alt="Car Rental Agency Logo"
            width="150"
            height="200"
          />
          <form [formGroup]="loginForm">
            <ion-item>
              <ion-input
                label="E-mail"
                labelPlacement="stacked"
                placeholder="email@example.com"
                formControlName="email"
              ></ion-input>
            </ion-item>
            @if (loginForm.get('email')?.dirty) {
              @if (loginForm.get('email')?.errors?.['required']) {
                <span class="span-error">Ce champ est obligatoire</span>
              }
              @if (loginForm.get('email')?.errors?.['email']) {
                <span class="span-error">Votre email n'est pas valide</span>
              }
            }

            <ion-item>
              <ion-input
                label="Mot de passe"
                labelPlacement="stacked"
                [type]="passwordType"
                placeholder="***********"
                formControlName="password"
              ></ion-input>
              <ion-icon
                id="icon-eye-login"
                [name]="passwordIcon"
                (click)="onToggleShowPassword()"
              ></ion-icon>
            </ion-item>
            @if (loginForm.get('password')?.dirty) {
              @if (loginForm.get('password')?.errors?.['required']) {
                <span class="span-error">Ce champ est obligatoire</span>
              }
              @if (loginForm.get('password')?.errors?.['minlength']) {
                <span class="span-error">Votre mot de passe doit contenir au moins 8 caractères</span>
              }
            }

            <div class="container-button">
              <ion-button size="medium" [disabled]="loginForm.invalid" (click)="onSignIn()">
                Se connecter
              </ion-button>
            </div>

            <div class="register-link">
              <a (click)="navigateToRegister()">Vous n'avez pas encore de compte ? Inscrivez-vous ici !</a>
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
